.section {
  padding: 50px 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.socialLinks {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 1rem;
}

.socialLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--primary-text);
}

.icon {
  width: 40px;
  height: 40px;
  margin-top: 0.5rem;
}

.downloadButton {
  color: var(--accent);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
  display: inline-block;
}

@media (min-width: 768px) {
  h2 {
    font-size: 2.2rem;
  }

  .downloadButton {
    font-size: 1.2rem;
  }
}